@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
body {
    margin: 0px;
    /* padding: 10px; */
    height: 90vh;
}

#imageShown {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#imageShown>img {
    position: absolute;
}

#closeButton {
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    float: right;
    width: 5%;
    z-index: 21;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

h1 {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 200;
}

p {
    font-family: 'Poppins', 'sans-serif';
    font-style: italic;
    font-weight: 100;
}

a {
    color: #000;
    text-decoration: none;
}

.center {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.resImage {
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
}

.mainImage {
    border-radius: 20px 0px 0px 20px;
}

.resImage>img {
    height: 100%;
}

h2 {
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
}

.answerArea {
    width: 90%;
    height: 40%;
    display: grid;
    grid-template: 10% 10% 1fr 10% 10% / 10% 10% 1fr 10% 10%;
    margin: 50px 0px;
}

.translate {
    grid-column: 1 / 3;
    grid-row: 1/3;
    background: rgba(255, 241, 191, 0.65);
}

.read {
    grid-column: 4/6;
    grid-row: 1/3;
    background: rgba(191, 217, 255, 0.65);
}

.previous {
    grid-column: 1/3;
    grid-row: 4/6;
    background: rgba(255, 191, 191, 0.65);
}

.next {
    grid-column: 4/6;
    grid-row: 4/6;
    background: rgba(231, 255, 191, 0.65);
}

.mainAnswer {
    grid-row: 2/5;
    grid-column: 2/5;
    background: rgba(237, 236, 236, 0.65);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.addon {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.resSlider {
    width: 90%;
    height: 20%;
    background: linear-gradient(to right, #B92220, #569E50);
    border-radius: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resSlider img {
    border-radius: 50px;
    padding: 20px;
    height: 75%;
    width: auto;
}

.footer {
    height: 7%;
    width: 90%;
    background: #EDECEC;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.footer>p {
    margin: 0px;
}