@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    /* background-image: url(../img/maps/mapWorld3.png); */
    background-size: 90%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 10%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(252, 241, 231);
}

h2 {
    text-align: center;
    background-color: white;
    border: 1px black solid;
    border-radius: 20%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

a:visited {
    color: black;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.questionSpace {
    width: 80%;
    height: 5rem;
    border-radius: 50px;
    margin: 0px 10%;
    z-index: 20;
    background: rgb(231, 206, 189);
}

.topContainer {
    transform: rotate(180deg);
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 200;
}

p {
    font-family: 'Poppins', 'sans-serif';
    font-style: italic;
    font-weight: 100;
}

.player1 {
    background: rgb(252, 241, 231);
    --a: 0;
    --lenght: 0;
    height: 50vh;
    transform-origin: top right;
    transform: rotate(var(--a));
    height: 50vh;
}

.player2 {
    --a: 0;
    --lenght: 0;
    background: rgb(252, 241, 231);
    height: 50vh;
    transform-origin: top left;
    transform: rotate(var(--a));
}

.player3 {
    --a: 0;
    --lenght: 0;
    background: rgb(252, 241, 231);
    height: 50vh;
    transform-origin: top left;
    transform: rotate(var(--a));
}

.player4 {
    --a: 0;
    --lenght: 0;
    background: rgb(252, 241, 231);
    height: 50vh;
    transform-origin: top right;
    transform: rotate(var(--a));
}

.header {
    width: 90%;
    margin: 0px 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white !important;
}

.countrySel {
    height: 100%;
}

.leftFlag {
    height: 100%;
}

.leftFlag>p {
    margin: 0px;
    font-size: 1rem;
}

.leftFlag>img {
    height: fit-content;
    border-radius: 50%;
    border: 1px #B98A69 solid;
    padding: 10px;
    background: white;
}

.storyTime {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: calc(100% - 30px);
    box-shadow: 5px 5px black;
    background: white;
    color: #D19185;
    font-weight: bold;
    font-size: 1.3rem;
}

.rightFlags {
    height: 100%;
}

.rightFlags>p {
    margin: 0px;
}

.rightFlags img {
    height: fit-content;
    border-radius: 50%;
    border: 1px #B98A69 solid;
    padding: 10px;
    background: white;
}